# ============ UNITY ============ #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Unity Asset Store
/[Aa]ssets/AssetStoreTools*

# Visual Studio files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.vs/
ExportedObj/
.consulo/

# Crash reports
sysinfo.txt

# ============ BUILDS ============ #
/Apk/
/[Bb]uild*/
/*_Data/
/**/*_Data/
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.dll

# Android
crashlytics-build.properties
**/assets/[Gg]enerated

# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa/*

# IDEs
.vscode/
.idea/
*.sln.iml

# System
.DS_Store
Thumbs.db